slopd/target/
mod/Source/SlopWorld/obj/
mod/Source/SlopWorld/bin/
mod/Assemblies/SlopWorld.dll
*.pdb
*.mdb
.tokensave
.ost-staging/
__pycache__/
tools/bg/
packaging/arch/src/
packaging/arch/pkg/
packaging/arch/*.pkg.tar.*
